.page_ourservices{
    min-height: 100vh;
    display: flex;
    min-width: 100vh;

    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background: #0d0d0d;
    Nav{
        border-bottom: 2px solid #d4d4d496;
    }
    .gap{
    height: 75px;
    .footer{
        margin-top: auto;
    }
}

}